* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
}

.image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: blue;
    padding: 3px;
    margin-bottom: 10px;
}

.image .profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid whitesmoke;
}

.profile-card .text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.text-data .name {
    font-size: 22px;
    font-weight: 500;
}

.text-data .job {
    font-size: 15px;
    font-weight: 400;
}

.profile-card .media-button {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.media-button .link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 0 8px;
    text-decoration: none;
    background-color: #4070f4;
}

.profile-card .button {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.button .button {
    border: none;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin: 0 10px;
    padding: 8px 24px;
    background-color: #4070f4;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button .button:hover {
    background-color: #0e4bf1;
}

.profile-card .analytics {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.analytics .data {
    display: flex;
    align-items: center;
    color: #333;
    padding: 0 20px;
}